//Sizes
@xs: (max-width: 575px);
@sm: (min-width: 576px);
@md: (min-width: 768px);
@lg: (min-width: 992px);

// Colors
@bluedark: #2b4353; ;
@blue: #9cd3d3;
@bluelight:  #b6e1e0;
@orange: #e8630a;

header {
    background: @bluedark;
    padding: 10px 0;
}

.header {
    &__logo {
        position: relative;
        width: 18%;
        margin-bottom: -9%;
        z-index: 1;
        img {
            max-width: 100%;
        }
    }
    &__inner {
        display: flex;
        flex-direction: column;
        position: relative;
        align-items: center;
        @media @sm {
            flex-direction: row;
            justify-content: space-evenly;
        }
    }
}
.toplinks {
    @media @sm {
        width: 80%;
    }
    &__inner {
        display: flex;
        flex-direction: column;
        list-style: none;
        @media @sm {
            flex-direction: row;
            justify-content: space-evenly;
        }
    }

    &__link {
        color: #FFF;
        text-transform: uppercase;
        font-weight: 700;
        transition: all 0.5s;
        &:hover {
            color: @orange;
            text-decoration: underline;
        }
    }
}
a {
    text-decoration: underline;
    color: @orange;
}

.banner {
    padding: 0;
    position: relative;
    &__inner {
        width: 100vw;
        max-width: 100%;
    }
}
.lore {
    background: @blue;
    color: @bluedark;
}
.forms {
    background: #FFF;
    color: @bluedark;
}
.contact {
    background: @bluedark;
    color: @bluelight;
}
.footer {
    &__top {
        background: @blue;
        color: @bluedark;
        margin: 0;
        padding: 30px 0;
        &-inner {
            display: flex;
            flex-direction: column;
            justify-content: center;
            @media @sm {
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
            }
        }
        &-logo {
            img {
                max-width: 100%;
            }
            @media @md {
                width: 40%;
            }
        }
        &-col {
            display: flex;
            flex-direction: column;
            text-align: center;
            @media @sm {
                text-align: left;
            }
        }
        &-link {
            color: @bluedark;
            transition: all 0.5s;
            &:hover {
                color: @orange;
            }
        }

    }
    &__bottom {
        background: @bluedark;
        color: @bluelight;
        margin: 0;
        padding: 20px 0;
        &-right {
            text-align: center;
            @media @sm {
                text-align: right;
            }
        }
        &-left {
            text-align: center;
            @media @sm {
                text-align: left;
            }
        }
    }
}

section {
    padding: 30px 0;
    position: relative;
}