//Sizes
@xs: (max-width: 575px);
@sm: (min-width: 576px);
@md: (min-width: 768px);
@lg: (min-width: 992px);

// Colors
@bluedark: #2A3132; ;
@bluelight:  #b6e1e0;
@orange: #f97352;

.OpenSans {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.Roboto {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.Lugrasimo {
  font-family: "Lugrasimo", cursive;
  font-weight: 400;
  font-style: normal;
}

.Nothing {
  font-family: "Nothing You Could Do", cursive;
  font-weight: 400;
  font-style: normal;
}

.Aguafina {
  font-family: "Aguafina Script", cursive;
  font-weight: 400;
  font-style: normal;
}

.Kristi {
  font-family: "Kristi", cursive;
  font-weight: 400;
  font-style: normal;
}

.Liu {
  font-family: "Liu Jian Mao Cao", cursive;
  font-weight: 400;
  font-style: normal;
}

.Reenie {
  font-family: "Reenie Beanie", cursive;
  font-weight: 400;
  font-style: normal;
}

img {
    display: block;
    position: relative;
    max-width: 100%;
}

body {
    color: #777;
    font-size: 17px;
    .OpenSans;
    ::-moz-selection { /* Code for Firefox */
        color: #FFF;
        background: #000;
      }
      
      ::selection {
        color: #FFF;
        background: #000;
      }
}

section {
    padding: 15px 0 30px;
    position: relative;
    text-align: center;
    @media @sm {
        text-align: left;
    }
}

h1, h2, h3 {
    margin: 30px 0 15px;
    color: #212529;
    .Roboto;
    font-weight: 700;
}

h2 {
    border-bottom: 1px solid @bluedark;
    margin-top: 25px;
}

a {
    transition: all 0.5s;
    color: @bluedark;
    &:hover {
        color: @orange;
    }
}

.btn-orange {
    background-color: @orange;
    color: #FFF;
    border-radius: 0;
    text-decoration: none;
    padding: 15px 20px;
    font-weight: 700;
    transition: all 0.5s;
    display: inline-block;
    width: fit-content;
    margin: 10px 5px;
    &:hover {
        color: #FFF;
        background-color: #252525;
    }
}

.btn-blue {
    background-color: #4c6972;
    color: #FFF;
    border-radius: 0;
    text-decoration: none;
    padding: 15px 20px;
    font-weight: 700;
    transition: all 0.5s;
    display: inline-block;
    width: fit-content;
    margin: 10px 5px;
    &:hover {
        color: #FFF;
        background-color: #252525;
    }
}

table {
    width: 100%;
    margin: 10px 0;
    td {
        border-left: 1px solid rgba(0,0,0,0.3);
        border-right: 1px solid rgba(0,0,0,0.3);
        padding: 5px 10px;
    }
    th {
        padding: 5px 10px;
    }
    tr {
        &:nth-child(even) {
            background-color: #f0cdc5;
        }
    }
}

.contents {
    &-list {
        display: flex;
        flex-direction: column;
    }
    color: #FFF;
    background-color: @bluedark;
    border: none;
    border-radius: 0;
    padding: 10px 20px;
    font-size: 16px;
    text-decoration: none;
    margin: 5px 0;
    &:hover {
        background-color: @orange;
        color: #FFF;
    }
    &-child {
        margin-left: 15px;
    }
}

.video-iframe {
    border: 5px solid @bluedark;
    transition: all 0.5s;
    display: block;
    margin: 0 auto;
    &:hover {
        border: 5px solid @orange;
    }
}

//Mobile Menu Section
.mobile-menu {
    background: @bluedark;
    padding: 30px 0;
    color: #FFF;
    &__inner {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0 15px;
    }
    &__logo {
        width: 30%;
        position: relative;
        img {
            max-width: 100%;
        }
    }
    .dropdown-toggle {
        &:after {
            display: none;
        }
    }
    &__button {
        width: 32px;
        height: 32px;
        padding: 0;
        border: 0;
        background: none;
        img {
            max-width: 100%;
        }
    }

    &__dropdown {
        background: @bluedark;
        border: none;
        border-radius: 0;
        text-align: center;
    }
    &__li {
        padding: 10px;
        &:hover {
            background: @orange;
        }
    }
    
    &__link {
        color: #FFF;
        text-transform: uppercase;
        font-weight: 700;
        text-decoration: none;
        padding: 10px 0;
        &:hover {
            color: #FFF;
        }
    }
}
//End Mobile Menu

.header {
    background: @bluedark;
    padding: 10px 0;
    &__logo {
        position: relative;
        width: 80%;
        padding: 0 20px;
        text-align: center;
        @media @md {
            width: 25%;
        }
        img {
            max-width: 100%;
        }
    }
    &__inner {
        display: flex;
        flex-direction: column;
        position: relative;
        align-items: center;
        flex-wrap: wrap;
        @media @sm {
            flex-direction: row;
            justify-content: space-between;
        }
    }
}
.toplinks {
    margin: 0;
    @media @sm {
        width: 60%;
    }
    @media @md {
        width: 40%;
    }
    &__inner {
        display: flex;
        flex-direction: column;
        list-style: none;
        margin: 0;
        padding: 0;
        @media @sm {
            flex-direction: row;
            justify-content: center;
            align-items: center;
        }
        @media @md {
            padding-left: 2rem;
        }
    }

    .dropdown-toggle {
        &::after {
            margin: 0;
        }
        &:hover {
            &::after {
                border: 0;
            }
        }
    }

    &__li {
        padding: 0 20px;
        &--alt {
            background-color: @orange;
            position: relative;
            padding: 8px 15px;
            transition: all 0.5s;
            
            &:hover {
                color: #FFF;
                text-decoration: none;
                background-color: @bluedark;
                border: none;
            }
        }
    }

    &__link {
        color: #FFF;
        text-transform: uppercase;
        font-weight: 700;
        transition: all 0.5s;
        text-decoration: none;
        position: relative;
        &:after {
            content: "";
            height: 2px;
            width: 0%;
            background-color: rgba(255,255,255,0);
            position: absolute;
            bottom: -2px;
            left: 50%;
            transition: all 0.3s;
        }
        &:hover {
            color: #FFF;
            &:after {
                content: "";
                width: 100%;
                left: 0;
                right: 0;
                background-color: rgba(255,255,255,1);
            }
        }
    }

    &__dropdown {
        background: @bluedark;
        border: none;
        border-radius: 0;
        text-align: left;
        position: absolute;
        inset: 0px auto auto 0px;
        margin: 0px;
        transform: translate(10px, 26px) !important;
        padding-bottom: 0;
        &-li {
            padding: 0 10px;
            &:hover {
                background: @orange;
            }
        }
        
        &-link {
            color: #FFF;
            text-transform: uppercase;
            font-weight: 700;
            text-decoration: none;
            padding: 10px 0;
            &:hover {
                color: #FFF;
            }
        }
    }
}

.banner {
    padding: 0;
    position: relative;
    max-width: 100vw;
    overflow: hidden;
    background-image: url("https://res.cloudinary.com/bwrpimages/image/upload/v1605286610/Homepage%20Banner/placeholder-1920x1080-1920x1080_cymnuj_aojnve.png");
    min-height: 78vh;
    .slick-list {
        height: 78vh;
    }
    .slick-track {
        height: 100%;
    }
    &__inner {
        object-fit: contain;
        object-position: top left;
        width: 100%;
        &-1, &-2, &-3 {
            background-size: cover;
            position: relative;
            &:after {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background-color: rgba(0,0,0,0.5);
                z-index: 1;
            }
        }
        &-1 {
            background-image: url("https://res.cloudinary.com/bwrpimages/image/upload/v1605286610/Homepage%20Banner/placeholder-1920x1080-1920x1080_cymnuj_aojnve.png");
        }
        &-2 {
            background-image: url("https://res.cloudinary.com/bwrpimages/image/upload/v1605286612/Homepage%20Banner/placeholder3-1920x1080-1920x1080_ogss3n_w1dh5g.png");
        }
        &-3 {
            background-image: url("https://res.cloudinary.com/bwrpimages/image/upload/v1605286613/Homepage%20Banner/placeholder2-1920x1080-1920x1080_udevhp_qqkq6y.jpg");
        }
    }

    &__text {
        position: absolute;
        text-align: center;
        left: 0;
        right: 0;
        top: 40%;
        max-width: 100vw;
        overflow: hidden;
        max-height: 100vw;
        height: fit-content;
        padding: 0 20px;
        h1, h2, h3 {
            border: none;
            color: #FFF;
        }
    }
}
.faction-flags {
    transform: rotate(90deg);
    width: 40%;
    margin: auto;
    display: block;
}
.slick-dots {
    position: absolute;
    bottom: 5%;
    li {        
        background: transparent;
        border: 1px solid #FFF;
        border-radius: 50%;
        button {
            &:before {
                opacity: 0;
                content: '';
            }
        }
        &.slick-active {
            background: #FFF;
        }
    }
}
.slick-dots li.slick-active button:before {
    opacity: 0 !important;
    &:hover {
        opacity: 0 !important;
    }
}
.slick-dotted.slick-slider {
    margin-bottom: 0 !important;
}
.footer {
    background: @bluedark;
    color: #FFF;
    margin: 0;
    padding: 27px 0;
    &__inner {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        @media @sm {
            flex-direction: row;
            justify-content: space-between;
        }
    }
    &__logo {
        width: 80%;
        margin: 20px auto;
        @media @md {
            width: 20%;
            margin: 0;
        }
        img {
            max-width: 100%;
        }
    }
    &__col-end {
        @media @md {
            width: 20%;
        }
    }
    &__col--middle {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    &__col--text-links {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        text-align: left;
    }
    &__link {
        color: #FFF;
        transition: all 0.5s;
        text-decoration: none;
        margin: 5px 0;
        @media @md {
            margin: 0 5px;
        }
        &:hover {
            color: @orange;
            text-decoration: underline;
        }
        svg {
            width: 20px;
            &:hover {
                path {
                    fill: @orange;
                }
            }
            path {
                fill: #FFF;
                transition: all 0.5s;
            }
        }
        &.money-bag {
            img {
                width: 48px;
            }
        }
    }
}

.accordion {
    &-title {
        background-color: @bluedark;
        border: none;
        border-radius: 0;
        color: #FFF;
        padding: 15px 20px;
        font-size: 1.2rem;
        position: relative;
        transition: all 0.5s;
        &:hover {
            background-color: @orange;
            .accordion {
                &-inner {
                    border-top: 1px solid @orange;
                }
            }
        }
    }
    &-inner {
        border: 1px solid @bluedark;
        padding: 15px;
        transition: all 0.5s;
        position: relative;
        img {
            max-width: 100%;
        }
    }
    &-details {
        margin: 10px 0;
    }
}

.content-row {
    padding: 15px 0;
    &-inner {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        @media @sm {
        }
        @media @md {
            justify-content: space-between;
            flex-direction: row;
            flex-wrap: wrap;
        }
    }
    &-left, &-right {
        width: 100%;
        @media @md {
            width: 48%;
        }
    }
    &-image {
        display: flex;
        justify-content: center;
    }
    &-video {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-content: center;
    }
    &-backwards__mobile {
        flex-direction: column-reverse;
        @media @sm {
            flex-direction: row;
        }
    }
}

.mechanics-page-left {
    @media @sm {
        width: 70%;
    }
}

.mechanics-page-image {
    padding: 30px 15px 0;
    @media @sm {
        width: 20%;
    }
}

.last-updated {
    color: #9e9e9e;
    font-weight: 100;
}
  
.dropdown {
    position: relative;
    display: inline-block;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 2;
}
  
.dropdown-content a {
    display: block;
}

.dropdown:hover .dropdown-content {display: block;}

blockquote {
    border-left: 3px solid @orange;
    padding-left: 15px;
    margin-left: 15px;
    text-align: left;
}

.recipe-panels {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.recipe-panel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 48%;
    margin: 20px 5px;
    @media @md {
        width: 31%;
    }
    &__title, &__text {
        display: block;
        margin: 10px 0;
    }
}

.buttons-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    @media @md {
        flex-direction: row;
    }
}

.knowledge-potion-story {
    background-color: #3f3f3f;
    padding: 60px 10%;
    .Lugrasimo;
    color: #222;
    font-size: 1.2rem;
    font-weight: 600;
    &__inner {
        background-size: cover;
        background-repeat: repeat-y;
        border-radius: 2px;
        padding: 60px;
        background-image: url("/images/paper.png");
        box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
    }
    h1 {
        text-align: center;
        .Lugrasimo;
        font-size: 3rem;
        font-weight: 700;
        color: #7d1e1e;
    }
    h2 {
        .Lugrasimo;
        font-size: 2rem;
        font-weight: 700;
    }
    &__question {
        .Nothing;
        font-size: 2rem;
        text-align: center;
        text-decoration: italic;
        padding: 30px 0;
        color: #444;
        &.giants-font {
          .Aguafina;
          color: #666;
        }
        &.machine-font {
          .Kristi;
        }
        &.moju-font {
          .Liu;
          span {
            font-size: 2.5rem;
          }
        }
        &.lines-font {
          .Reenie;
        }
        &.prudence {
            .a {
                text-align: left;
            }
            .b {
                text-align: center;
            }
            .c {
                text-align: right;
            }
        }
    }
    &__marker {
        .Lugrasimo;
        color: #444;
        font-weight: 700;
        font-size: 7rem;
        line-height: 0.2;
        padding-bottom: 20px;
    }
}